 //如果px单位是大写，说明按原样输出 
 .icu-box-bb{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*flex 布局*/
.icu-flex {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.icu-flex-wrap {
	flex-wrap: wrap;
}

.icu-flex-nowrap {
	flex-wrap: nowrap;
}

.icu-col-center {
	align-items: center;
}

.icu-col-top {
	align-items: flex-start;
}

.icu-col-bottom {
	align-items: flex-end;
}

.icu-row-center {
	justify-content: center;
}

.icu-row-left {
	justify-content: flex-start;
}

.icu-row-right {
	justify-content: flex-end;
}

.icu-row-between {
	justify-content: space-between;
}

.icu-row-around {
	justify-content: space-around;
}

.icu-text-left {
	text-align: left;
}

.icu-text-center {
	text-align: center;
}

.icu-text-right {
	text-align: right;
}

.icu-flex-col {
	display: flex;
	flex-direction: column;
}

// 定义flex等分
@for $i from 0 through 12 {
	.icu-flex-#{$i} {
		flex: $i;
	}
}

// 定义字体(px)单位，小于20都为px单位字体
@for $i from 10 to 40 {
	.icu-font-#{$i} {
		font-size: $i + px;
	}
}

// 自定义字体行高
@for $i from 10 to 40 {
	.icu-lh-#{$i} {
		line-height: $i + px;
	}
}

.icu-fw-100{
	font-weight:100;
}

.icu-fw-300{
	font-weight:300;
}


.icu-fw-500{
	font-weight:500;
}

.icu-fw-600{
	font-weight:600;
}

// 定义空元素高度
@for $i from 6 to 60 {
	.icu-h-#{$i} {
		height: $i + px;
	}
}

/*垂直居中*/
.icu-va-m{
vertical-align: middle;
}
.icu-va-t{
vertical-align: top;
}
.icu-va-b{
vertical-align: bottom;
}
.icu-va-l {
vertical-align: baseline;
}

/*文本对齐 center,right*/
.icu-ta-c {text-align:center;}
.icu-ta-r {text-align:right;}
.icu-ta-l {text-align:left;}
.icu-ta-j {text-align:justify;}

/*文本缩进*/
.icu-ti-20{
	text-indent:20px;
}
.icu-ti-24{
text-indent: 24px;
}
.icu-ti-26{
text-indent: 26px;
}
.icu-ti-28{
text-indent: 28px;
}
.icu-ti-30{
	text-indent: 30px;
}


// 定义内外边距，历遍1-80
@for $i from 0 through 80 {
	// 只要双数和能被5除尽的数
	@if $i % 2 == 0 or $i % 5 == 0 {
		// 得出：u-margin-30或者u-m-30
		.icu-margin-#{$i}, .icu-m-#{$i} {
			margin: $i + px!important;
		}
		
		// 得出：u-padding-30或者u-p-30
		.icu-padding-#{$i}, .icu-p-#{$i} {
			padding: $i + px!important;
		}
		
		@each $short, $long in l left, t top, r right, b bottom {
			// 缩写版，结果如： u-m-l-30
			// 定义外边距
			.icu-m-#{$short}-#{$i} {
				margin-#{$long}: $i + px!important;
			}
			
			// 定义内边距
			.icu-p-#{$short}-#{$i} {
				padding-#{$long}: $i + px!important;
			}
			
			// 完整版，结果如：u-margin-left-30
			// 定义外边距
			.icu-margin-#{$long}-#{$i} {
				margin-#{$long}: $i + px!important;
			}
			
			// 定义内边距
			.icu-padding-#{$long}-#{$i} {
				padding-#{$long}: $i + px!important;
			}
		}
	}
}

 /* 超出行数隐藏（text-line-{1-12}）*/
 @for $i from 1 through 13 {
    .text-line-#{$i} {
        overflow: hidden;
        text-overflow: ellipsis !important;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $i !important;
        lines: $i;
    }
  }
  .text-cut{
     overflow: hidden;
     text-overflow: ellipsis;
      white-space: nowrap;
  }
 
 
 /* ====================
         定位
  ======================*/
 .icu-pos{
     /* 指的是仅当元素滚动到页面之外时，元素会固定在页面窗口的顶部 */
     &-st{
         position: sticky !important;
     }
     /* 保证元素在页面窗口中的对应位置显示 */
     &-fix{
         position: fixed !important;
     }
     &-rel{
         position: relative !important;
     }
     &-abs{
         position: absolute !important;
     }
     /* 左上角 */
     &-lt{
         left: 0;
         top: 0;
     }
     /* 右上角 */
     &-rt{
         right: 0;
         top: 0;
     }
     /* 左下角 */
     &-lb{
         left: 0;
         bottom: 0;
     }
     /* 右下角 */
     &-rb{
         right: 0;
         bottom: 0;
     }
 }

 /*透明度*/
.icu-op-1 {opacity:0.1;}
.icu-op-2 {opacity:0.2;}
.icu-op-3 {opacity:0.3;}
.icu-op-4 {opacity:0.4;}
.icu-op-5 {opacity:0.5;}
.icu-op-6 {opacity:0.6;}
.icu-op-7 {opacity:0.7;}
.icu-op-8 {opacity:0.8;}
.icu-op-9 {opacity:0.9;}

// 浮动
.icu-fl-c {
	zoom:1;
	&:after{content:"";display:block;clear:both;}
}
.icu-fl-l {float:left;}
.icu-fl-r {float:right;}




/* 盒子阴影 */
.icu-bs-1{box-shadow: 0 4px 12px rgba(153,153,153,.24) ;}

/*文本阴影*/
.icu-txs-1{
	text-shadow: 1px 1px 1px #383838;
}


/*css3动画,transition*/
.icu-trs-01s{
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	-ms-transition: 0.1s;
	-o-transition: 0.1s;
	transition: 0.1s;
}

/*圆角radius*/
.icu-bdr-10{
	border-radius:10px;
}